body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

p {
    font-family: 'Gayathri', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

li {
    font-family: 'Gayathri', sans-serif;
    font-size: 16.2px;
    font-weight: 500;
    padding-top: 2%;
}

a {
    font-family: 'Gayathri', sans-serif;
    text-decoration: none;
}

h2 {
    font-family: 'Cinzel', serif;
    font-weight: 200;
}

h3 {
    font-family: 'Cinzel', serif;
    font-weight: 700;
    text-align: center;
}

#container {
    display: grid;
    height: 125vh;
    width: 100%;
    grid-template-areas:
        "lefty head righty"
    ;
    grid-template-columns: 15% 70% 15%;
}

#lefty {
    grid-area: lefty;
    background: linear-gradient(to left, white, #56F036);
}

#righty {
    grid-area: righty;
    background: linear-gradient(to right, white, #56F036);
}

#content-area {
    display: grid;
    grid-area: head;
    border-left: 4px solid black;
    border-right: 4px solid black;
    grid-template-areas:
        "title"
        "link-bar"
        "intro"
        "settings"
    ;
    grid-template-rows: 12% 5% 20% 63%;
}

#title {
    grid-area: title;
    display: grid;
    place-items: center;
    background: #7ECEE0;
    border-top: 1px solid black;
    border-bottom: 2px solid black;
}

#camp-title {
    text-align: center;
    font-size: 250%;
    font-family: 'Cinzel', serif;
    font-weight: 500;
}

#link-bar {
    grid-area: link-bar;
    background: #4A947E;
    border-bottom: 2px solid black;
    display: grid;
    grid-template-columns: 15% 15% 15% 15%;
    grid-template-rows: 100%;
}

.interlink {
    padding-top: 8%;
    text-align: center;
    color: white;
    text-decoration: none;
    border-right: 1px solid black;
    font-size: 1.10em;
    font-family: 'Gayathri', sans-serif;
}

.interlink:hover {
    background: #18A893;
}

#intro {
    grid-area: intro;
    border-bottom: 2px solid black;
    display: grid;
    place-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

#settings {
    display: grid;
    grid-area: settings;
    grid-template-areas:
        "krone nålen"
    ;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40%;
}

#krone {
    grid-area: krone;
    display: grid;
    grid-template-areas:
        "krone-title krone-title"
        "krone-text krone-text"
        "link-html link-download"
    ;
    grid-template-rows: 30% 50% 20%;
    grid-template-columns: 50% 50%;
    border-right: 1px solid black;
    border-bottom: 2px solid black;
}

#krone-title {
    grid-area: krone-title;
}

#krone-text {
    grid-area: krone-text;
    padding: 0 5% 0 5%;
}

#nålen {
    grid-area: nålen;
    display: grid;
    grid-template-areas:
        "nålen-title nålen-title"
        "nålen-text nålen-text"
        "link-html link-download"
    ;
    grid-template-rows: 30% 50% 20%;
    grid-template-columns: 50% 50%;
    border-left: 1px solid black;
    border-bottom: 2px solid black;
}

#nålen-title {
    grid-area: nålen-title;
}

#nålen-text {
    grid-area: nålen-text;
    padding: 0 5% 0 5%;
}

.link-html {
    grid-area: link-html;
    padding: 5% 0 0 0;
    text-align: center;
    border-top: 2px solid black;
    border-right: 0.5px solid black;
}

.link-html:hover {
    background: #bababa;
}

.link-download {
    grid-area: link-download;
    padding: 5% 0 0 0;
    text-align: center;
    border-top: 2px solid black;
    border-left: 0.002px solid black;
}

.link-download:hover {
    background: #bababa;
}